* {
/* styles in here affect everything!!!! */


}

body {
  margin:0px;
}

header {
  /* display is a grid, each entity contains is a "block" in the grid */
  display:grid;
  /* this is 3 columns */
  grid-template-columns: 10% 80% 10%;
}

/* image is larger than it really needs to be expecially on smaller screens */
header div.header_logo2 img {
  width:100%;
}

header div.header_search {
  /* this tells the browser to "span" the grid columns */
  grid-column-start: 1;
  /* notice the grid-column-end is number of columns + 1 */
  grid-column-end: 4;
}

div#MainContent {
  /* styles for #MainContent */
  padding-left:10px;
  padding-right:10px;
  padding-bottom:20px;
}



footer {
  border-top-color: #cccccc;
  border-top-width: 5px;
  border-top-style: solid;
  /* add padding to the top to match to size of the border */
  padding-top:5px;

  /* remove border since it was used as an example
  border: 1px solid green;
  */

  /* we want this to be all that way at the bottom */
  /* position tells html how to handle the element */
  position:fixed;
  /* options are
  static (default)
  relative (to the parent element)
  absolute (to the first positioned element)
  fixed (sticky - to the window)
  */
  bottom: 0px;
  /* bottom tells it to be at the bottom of the window */
  /* as soon as we using positioning, the div (footer) acts as an inline element */
  /* so, we have to tell the element to be full width */
  width: 100%;
  /* finally, I don't like the social media all the way at the bottom,
     let's bump them up a bit */
  padding-bottom: 5px;
  /* really this should be with the other padding up there!! */
}
footer nav {
  text-align:center;

}
footer nav a {
  text-decoration:none;
  padding-left:10px;
  padding-right:10px;
  margin-left:15px;
  margin-right:15px;
}

footer div.socialMedia {
  /* change the padding to only be top and sides for social media div
  padding: 20px;
  */
  /* 20px on the top */
  padding-top: 20px;
  /* only 10 on the sides to match the padding for the main content */
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.socialMedia a {
  margin: 20px;

  padding: 10px;

}


@media screen and (min-width: 800px) {
  footer {
    display:grid;
    /* removed grid-column-gap it causes a horizontal scroll
    grid-column-gap: 10px;
    */
    grid-template-columns: 50% 50%;

  }

  footer nav {
    /* align text to left when the screen is wider */
    text-align:left;
  }

  /* "first-child" is what is known as a pseudo class,
     this will apply ONLY to the first a tag under the nav element to make it
     line up with the main Content
     */
  footer nav a:first-child {
    margin-left:0px
  }

  footer div.socialMedia {
    /* remove padding on social media element and have text align to the right */
    padding:0px;
    text-align:right;
  }

  footer div.socialMedia a:last-child {
    margin-right:0px
  }

  section {
  }
  /***
  section {
    width:75%;
    float:left;
  }
  aside {
    width: 24%;
    float:right;
  }
  footer {
    clear:both;
  }
  ***/
}
